.calculadora {
    background-color: #246600;
    display: flex;
    flex-direction: column;
}

h1{
    color: azure;
}

.datos {
    background-color: rgb(134, 16, 100);
}

.resultado {
    background-color: rgb(203, 203, 195);
}
