.calculadora {
    background-color: #5e5a5a;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.datos {
    background-color: rgb(243, 247, 243);
}

.resultado {
    background-color: rgb(250, 250, 160);
}
@media (max-width: 600px) {
    button {
        padding: 15px;
        font-size: 1.2em;
    }
}