.contenedor {
    display: grid;
    /* 1 columna para la bara lateral, 3 columnas para el contenido de la pagina*/
    grid-template-columns: 1fr 3fr;
    /* Filas. 1 fr para Cabecera (header), contenido principal y pie de pagina (footer) */
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "sidebar content" "footer footer";
    gap: 20px;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #4caf50;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: sidebar;
    background-color: #f4f4;
    padding: 20px;
}

main {
    grid-area: content;
    background-color: #FFF;
    padding: 20px;
    border-left: 2px solid #003366;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

.masContenido {
    display: flex;
    flex-direction: column;
}