
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 1%;
}

header{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}


.calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.datos {
    display: flex;
    flex-direction: row;
    background-color: pink;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.resultado {
    display: flex;
    flex-direction: row;
    background-color: pink;
    justify-content: center;
}

@media( max-width: 767px){
    
   .calculadora {
    display: flex;
    flex-direction: column;
   }

   .datos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   }

   .botones{
    display: flex;
    flex-direction: row;
    padding: 2%;
    font-size: 100;
   }
}